.post{
    border-radius: 5px;
    border-style: dashed;
}

.debug{
    background-color: rgba(95, 158, 160, 0.568);
}



//CREATE

.create, .edit{
    p{
        color: red;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .btn{
        text-transform: uppercase;
        padding: 10px 15px;
    }

    h5.back{

        &:hover a{
            text-decoration: none;
            color: rgb(31, 108, 252)
        }
        &:hover i{
            color: rgb(31, 108, 252)
        }
        a{
            color: rgb(26, 24, 24);
            font-weight: bold;
        }
        i{
            font-size: 0.8rem;
        }
    }
}


._category{
    border-radius: 5px;

    .box{
        background-color: white;
        border-radius: 5px;
        .element{
            border-radius: 5px;
            border: 1px solid cadetblue;
            width: calc(98% / 2);
            transition: all 0.5s;
            &:hover{
                transform: scale(1.1);
                background-color: rgb(83, 139, 141);
                color: white;

            }

            &:hover a{
                text-decoration: none;
                color: white;
            }
            ul{
                list-style: none;

            }
        }

    }
}
