.post{
    border-radius: 5px;
    border-style: dashed;
}

.debug{
    background-color: rgba(95, 158, 160, 0.568);
}

.create{
    p{
        color: red;
        font-weight: bold;
        font-size: 0.8rem;
    }
}
